{% include "partials/fonts.html" %}
<script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
<link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% if config.description %}
  <meta name="description" content="{{ config.description }}">
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">
<meta name="googlebot" content="index,follow,snippet,archive">
{% include "_internal/opengraph.html" ignore missing %}
{% include "_internal/twitter_cards.html" ignore missing %}

<link rel="stylesheet" href="/style.css">

<!-- Custom CSS -->
{% for cssFile in config.extra.custom_css %}
<link rel="stylesheet" href="{{ get_url(path=cssFile) }}">
{% endfor %}

{% include "favicon.html" ignore missing %}
{% if config.rss %}
{% endif %}
{% if config.extra.googleAnalyticsAsync %}
  {% include "_internal/google_analytics_async.html" ignore missing %}
{% else %}
  {% include "_internal/google_analytics.html" ignore missing %}
{% endif %}