{% if config.description %}
  {{ config.description  }}
{% endif %}
{% if config.extra.social %}
  <p>Find me on
  {% set length = config.extra.social | length %}
  {% for elem in config.extra.social %}
  {% if elem.name == "email" %}
    <a class="icon" target="_blank" rel="noopener" href="mailto:{{ elem.link }}" aria-label="Email">
      <i class="fas fa-envelope" aria-hidden="true"></i>
    </a>
  {% elif elem.name == "rss" %}
    <a class="icon" target="_blank" rel="noopener" href="{{ elem.link }}" aria-label="RSS">
      <i class="fas fa-rss" aria-hidden="true"></i>
    </a>
  {% elif elem.name == "scholar" %}
    <a class="icon" target="_blank" rel="noopener" href="{{ elem.link }}" aria-label="Google Scholar">
      <i class="fas fa-graduation-cap" aria-hidden="true"></i>
    </a>
  {% else %}
    <a class="icon" target="_blank" rel="noopener" href="{{ elem.link }}" aria-label="{{ elem.name }}">
      <i class="fab fa-{{ elem.name | lower }}" aria-hidden="true"></i>
    </a>
  {% endif %}
    {% if (loop.index + 2) < length %}
      {{- " , " -}}
    {% elif (loop.index + 1) < length %}
      {{- " and " -}}
    {% else %}
      {{- "." -}}
    {% endif %}
  {% endfor %}
  </p>
{% endif %}